{% extends "base.html" %}

{% block title %}Home - Wishes{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/landing-page.css">
<style type="text/css">
    .navbar {
        margin-bottom: 0 !important;
    }
    a{
        color: #FF66CC;
    }
</style>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
{% endblock %}

{% block main %}

{% include "navbar.html" %}

<div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Wishes</h1>
                        <h3>See it. Want it. Add it.</h3>
                        <hr class="intro-divider">
                        <div>
                            <h3>Start adding wishes today, <a href="{{ url_for('signup') }}" class="">create an account</a>.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
