{% extends "base.html" %}


{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
{% endblock %}


{% block main %}

{% include "navbar.html" %}

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Sign In</h3>
        </div>
        <div class="panel-body">

            <form role="form" method="post" action="{{ url_for('signin') }}" enctype="multipart/form-data" >
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.email.label }}
                    {{ form.email(class_="form-control") }}
                </div>
                
                <div class="form-group">
                    {{ form.password.label }}
                    {{ form.password(class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.remember_me }} Remember Me
                </div>
                <button type="submit" class="btn btn-primary">Sign in</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}