{% extends "base.html" %}


{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
{% endblock %}


{% block main %}

{% include "navbar.html" %}

<div class="container">

    {% if form.errors %}
        <div class="alert alert-danger">
            <ul>
                {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                    {% for error in field_errors %}
                        <li>{{ form[field_name].label }} {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Create an Account</h4>
        </div>
        <div class="panel-body">    
        
            <form role="form" method="post" action="{{ url_for('signup') }}" enctype="multipart/form-data" >
                {{ form.csrf_token }}
                
                <div class="form-group">
                    {{ form.email.label }}
                    {{ form.email(class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.password.label }}
                    {{ form.password(class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.password2.label }}
                    {{ form.password2(class_="form-control") }}
                </div>
                
                <button type="submit" class="btn btn-primary">Sign up</button>
                
            </form>
        </div>
    </div>
    
</div>

{% endblock %}